<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.user.server.dao.SysMenuDao">

	<select id="findPermissionsByMenuId" resultType="SysMenu">
		select
		t1.id as permission_id, t1.permission, t1.name
		from
		sys_permission t1
		inner join sys_menu_permission t2 on
		t1.id = t2.permission_id
		<where>
			t2.menu_id = #{menuId}
		</where>
	</select>
</mapper>